
  /* IMAGE HEADER */
.ImageTop {
    width: 100%;
    height: 260px;
    object-fit: cover; 
    position: relative; 
    z-index: -1;
}
  /* BOUTTON DE RETOUR */
.BoutonRetour {
    border: none;
    background-color: #FFFFFF;
    position: relative;
    right: 80px;
    cursor: pointer;    
}
  /* ENCART DES MENUS */
.WrapMenu {
    position: relative;
    max-width: 900px;
    margin: auto;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: -80px;
    gap: 12px;
    background-color: #F6F6F6;
    padding: 40px 12px 15px 12px;
    border-radius: 40px 40px 0px 0px;
    
    &__Top {
        width: 100%;
        margin: 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        h1 {
            width: 80%;
            margin: 0px 0px 0px 10px;
            font-family: $FontTextTitre;
            position: relative;
        }
        &__Like {
            margin-right: 25px;
            position: relative;
            i {
              position: absolute;
              right: 0px;
              bottom: -10px;
            }
            }
            @include AnimationCoeur;       
    }

    .TitrePlat {
        width: 50px;
        border-bottom:2px solid $ColorTertiaire;
        padding-bottom: 6px;
        margin: 28px 0px 0px 5px;
        text-transform: uppercase;
        font-weight: 400;     
    }

    .Entrees {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 65px;
        background-color: #FFFFFF;
        box-shadow: $BoxShadow;
        border-radius: 15px;
        padding: 12px 0px 12px 10px;
        overflow: hidden;
        animation: LoadingPage 1s backwards ease-in-out;

        &--delay2 {
            animation-delay: 100ms;
        }
        &--delay3 {
            animation-delay: 200ms;
        }
        &--delay4 {
            animation-delay: 300ms;
        }
    

        &__Texte {
            white-space: nowrap; 
            min-width: 0%;
        }
        &__Texte h3 {
            margin: 5px 0px 0px 0px;
            width: 100%;
        }
        &__Texte h4 {
            margin: 10px  0px 15px 0px;
            font-weight: 500;
        }
        
        &__Prix {
            display: flex;
            align-items: center;
            
            transform: translateX(100px);
            transition: all 300ms ease-in-out;
            
            p {
                background-color: #FFFFFF;
                padding: 30px 25px 0px 25px;
                font-weight: 600;
                font-family: Arial, Helvetica, sans-serif;
            }
            .Check {
                @include flex;
                background-color: $ColorTertiaire;
                height: 100%;
                width: 100px;
                margin: 0px;
                padding: 20px 0px;
                transform: translateX(100px);
                transition: all 300ms ease-in-out;
            }
            i {
                color: #FFFFFF;
                transition: all 400ms ease-in-out;
            }


              
        }
    @include AnimationChecked;
    }

    .Commander__Boutton {
        @include BoutonPrincipale;
      }
      .Commander__Boutton:hover {
        @include BoutonPrincipaleHover;
      }

}

