$ColorPrimaire : #9356DC;
$ColorSecondaire : #FF79DA;
$ColorTertiaire : #99E2D0;
$BoxShadow : 10px 10px 34px -18px rgba(0,0,0,0.75);
$FontTextTitre :  'Shrikhand', cursive;
$FontText : 'Roboto', sans-serif;

