.ImageTop {
  width: 100%;
  height: 260px;
  -o-object-fit: cover;
     object-fit: cover;
}

.BoutonRetour {
  border: none;
  background-color: #FFFFFF;
  position: relative;
  right: 80px;
  cursor: pointer;
}

.WrapMenu {
  max-width: 900px;
  margin: auto;
  width: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  background-color: #F6F6F6;
  padding: 40px 12px 15px 12px;
  border-radius: 40px 40px 0px 0px;
  transform: translateY(-80px);
}
.WrapMenu__Top {
  width: 100%;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.WrapMenu__Top h1 {
  margin: 0px;
  font-family: "Shrikhand", cursive;
}
.WrapMenu__Top__Like {
  margin-right: 25px;
  position: relative;
}
.WrapMenu__Top__Like i {
  position: absolute;
  right: 0px;
  bottom: -10px;
}
.WrapMenu__Top .fa {
  opacity: 0;
  background: -webkit-linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}
.WrapMenu__Top .fa:hover {
  opacity: 1;
  -webkit-animation: Heart 300ms ease-in-out;
          animation: Heart 300ms ease-in-out;
}
.WrapMenu .TitrePlat {
  width: 50px;
  border-bottom: 2px solid #99E2D0;
  padding-bottom: 6px;
  margin: 28px 0px 0px 5px;
  text-transform: uppercase;
  font-weight: 400;
}
.WrapMenu .Entrees {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 65px;
  background-color: #FFFFFF;
  box-shadow: 10px 10px 34px -18px rgba(0, 0, 0, 0.75);
  border-radius: 15px;
  padding: 12px 0px 12px 10px;
  overflow: hidden;
}
.WrapMenu .Entrees:nth-child(3) {
  -webkit-animation: LoadingPage 1s backwards ease-in-out;
          animation: LoadingPage 1s backwards ease-in-out;
}
.WrapMenu .Entrees:nth-child(4) {
  -webkit-animation: LoadingPage 1s 300ms backwards ease-in-out;
          animation: LoadingPage 1s 300ms backwards ease-in-out;
}
.WrapMenu .Entrees:nth-child(5) {
  -webkit-animation: LoadingPage 1s 400ms backwards ease-in-out;
          animation: LoadingPage 1s 400ms backwards ease-in-out;
}
.WrapMenu .Entrees:nth-child(7) {
  -webkit-animation: LoadingPage 1s 500ms backwards ease-in-out;
          animation: LoadingPage 1s 500ms backwards ease-in-out;
}
.WrapMenu .Entrees:nth-child(8) {
  -webkit-animation: LoadingPage 1s 600ms backwards ease-in-out;
          animation: LoadingPage 1s 600ms backwards ease-in-out;
}
.WrapMenu .Entrees:nth-child(9) {
  -webkit-animation: LoadingPage 1s 700ms backwards ease-in-out;
          animation: LoadingPage 1s 700ms backwards ease-in-out;
}
.WrapMenu .Entrees:nth-child(11) {
  -webkit-animation: LoadingPage 1s 800ms backwards ease-in-out;
          animation: LoadingPage 1s 800ms backwards ease-in-out;
}
.WrapMenu .Entrees:nth-child(12) {
  -webkit-animation: LoadingPage 1s 900ms backwards ease-in-out;
          animation: LoadingPage 1s 900ms backwards ease-in-out;
}
.WrapMenu .Entrees:nth-child(13) {
  -webkit-animation: LoadingPage 1s 1000ms backwards ease-in-out;
          animation: LoadingPage 1s 1000ms backwards ease-in-out;
}
.WrapMenu .Entrees__Texte {
  white-space: nowrap;
  min-width: 0%;
}
.WrapMenu .Entrees__Texte h3 {
  margin: 5px 0px 0px 0px;
  width: 100%;
}
.WrapMenu .Entrees__Texte h4 {
  margin: 10px 0px 15px 0px;
  font-weight: 500;
}
.WrapMenu .Entrees__Prix {
  display: flex;
  align-items: center;
  transform: translateX(100px);
  transition: all 300ms ease-in-out;
}
.WrapMenu .Entrees__Prix p {
  background-color: #FFFFFF;
  padding: 30px 25px 0px 25px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}
.WrapMenu .Entrees__Prix .Check {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #99E2D0;
  height: 100%;
  width: 100px;
  margin: 0px;
  padding: 20px 0px;
  transform: translateX(100px);
  transition: all 300ms ease-in-out;
}
.WrapMenu .Entrees__Prix i {
  color: #FFFFFF;
  transition: all 400ms ease-in-out;
}
.WrapMenu .Entrees:hover .Check {
  transform: translateX(0px);
}
.WrapMenu .Entrees:hover .Entrees__Prix {
  transform: translateX(0px);
}
.WrapMenu .Entrees:hover i {
  transform: rotate(360deg);
}
.WrapMenu .Entrees:hover h3 {
  -webkit-animation: Text 300ms ease-in-out both;
          animation: Text 300ms ease-in-out both;
}
.WrapMenu .Entrees:hover h4 {
  -webkit-animation: Text 300ms ease-in-out both;
          animation: Text 300ms ease-in-out both;
}
.WrapMenu .Commander__Boutton {
  width: 180px;
  height: 50px;
  margin: 50px auto 80px auto;
  border-radius: 50px;
  border: none;
  font-weight: 600;
  background: linear-gradient(130deg, rgb(234, 114, 218) 0%, rgb(161, 91, 220) 67%);
  color: #EAEAEA;
  box-shadow: 10px 10px 34px -18px rgba(0, 0, 0, 0.75);
}
.WrapMenu .Commander__Boutton:hover {
  background: linear-gradient(130deg, rgb(230, 144, 218) 0%, rgb(172, 116, 219) 67%);
  box-shadow: 7px 5px 16px 3px rgba(0, 0, 0, 0.42);
}

@-webkit-keyframes LoadingPage {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes LoadingPage {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes Text {
  0% {
    text-overflow: clip;
    overflow: visible;
  }
  100% {
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
@keyframes Text {
  0% {
    text-overflow: clip;
    overflow: visible;
  }
  100% {
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
@-webkit-keyframes Heart {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  80% {
    transform: scale(1.15);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes Heart {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  80% {
    transform: scale(1.15);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
body {
  margin: auto;
  padding: auto;
  min-width: 375px;
  max-width: 1440px;
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
  counter-reset: compteListe;
}

header {
  display: flex;
  justify-content: center;
}
header img {
  height: 30px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.Localisation__Boutton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  gap: 15px;
  background-color: #EAEAEA;
  box-shadow: inset 0px 13px 15px -9px rgba(0, 0, 0, 0.1);
  border: none;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}

.Bienvenue {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #F6F6F6;
  text-align: center;
  width: 100%;
}
.Bienvenue h1 {
  margin: 40px 60px 0px 60px;
  font-size: 20px;
  font-weight: 800;
}
.Bienvenue h2 {
  margin: 20px 20px 0px 20px;
  font-size: 15px;
  font-weight: 400;
}
.Bienvenue__Boutton {
  margin: 30px 20px 60px 20px;
  width: 220px;
  height: 50px;
  border-radius: 50px;
  border: none;
  font-size: 14px;
  font-weight: 600;
  background: linear-gradient(130deg, rgb(234, 114, 218) 0%, rgb(161, 91, 220) 67%);
  color: #EAEAEA;
  box-shadow: 10px 10px 34px -18px rgba(0, 0, 0, 0.75);
}
.Bienvenue__Boutton:hover {
  background: linear-gradient(130deg, rgb(235, 132, 221) 0%, rgb(167, 101, 221) 67%);
  box-shadow: 7px 5px 16px 3px rgba(0, 0, 0, 0.42);
}

.Fonctionnement__Titre {
  font-weight: 700;
  margin: 0px;
  width: 100%;
  margin: 50px 0px 0px 20px;
}

.Fonctionnement {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin: 30px 20px 70px 20px;
}
.Fonctionnement__Choisissez {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #F6f6f6;
  height: 75px;
  min-width: 320px;
  flex: 1 1 auto;
  margin-left: 10px;
  box-shadow: 4px 4px 2px #F6F6F6;
  border-radius: 20px;
}
.Fonctionnement__Choisissez__Card {
  margin-left: 30px;
}
.Fonctionnement__Choisissez::before {
  display: flex;
  align-items: center;
  justify-content: center;
  counter-increment: compteListe 1;
  content: counter(compteListe) " ";
  color: #F6F6F6;
  position: relative;
  padding-bottom: 2px;
  height: 25px;
  width: 25px;
  left: -12px;
  border-radius: 50%;
  background-color: #9356DC;
}
.Fonctionnement__Choisissez:hover {
  background-color: #f2eafb;
}
.Fonctionnement__Choisissez:hover i {
  color: #9356DC;
}
.Fonctionnement .Text {
  margin-left: 25px;
  font-weight: 700;
  font-size: 16px;
}

.Wrap {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 15px;
  background-color: #F6F6F6;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-bottom: 60px;
}
.Wrap__Titre {
  margin: 60px 0px 0px 20px;
  flex: 100%;
}
.Wrap .Card {
  margin: 20px 20px 0px 20px;
  min-width: 335px;
  max-width: 400px;
  flex: 1 1 auto;
  height: auto;
  background-color: #FFFFFF;
  border-radius: 10px;
  box-shadow: 10px 10px 34px -18px rgba(0, 0, 0, 0.75);
  text-decoration: none;
  color: #000000;
  transform: scale(1);
}
.Wrap .Card img {
  height: 175px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px 10px 0px 0px;
}
.Wrap .Card:hover {
  transform: scale(1.05);
}
.Wrap .Card__Instructions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Wrap .Card__Instructions__Texte {
  margin: 20px 0px 20px 15px;
}
.Wrap .Card__Instructions__Texte h3 {
  margin: 0px;
  font-size: 18px;
}
.Wrap .Card__Instructions__Texte p {
  margin: 10px 0px 0px 0px;
  font-size: 15px;
}
.Wrap .Card__Instructions__Like {
  margin-right: 20px;
  position: relative;
}
.Wrap .Card__Instructions__Like i {
  position: absolute;
  right: 0px;
  bottom: -10px;
}
.Wrap .Card__Instructions .fa {
  opacity: 0;
  background: -webkit-linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}
.Wrap .Card__Instructions .fa:hover {
  opacity: 1;
  -webkit-animation: Heart 300ms ease-in-out;
          animation: Heart 300ms ease-in-out;
}

Footer {
  width: 100%;
  margin: auto;
  background-color: #353535;
  padding-bottom: 35px;
}
Footer img {
  margin: 25px 0px 0px 20px;
  height: 15px;
  width: 100px;
  filter: invert(1);
}
Footer .Footer__Wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin: 20px 0px 0px 20px;
}
Footer .Footer__Wrap a {
  text-decoration: none;
  text-transform: none;
  color: #FFFFFF;
  margin-right: 100px;
}
Footer .Footer__Wrap i {
  margin-right: 5px;
}/*# sourceMappingURL=styles.css.map */